/* Estilos base */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    background-color: #4a148c; /* Morado */
    color: white;
    text-align: center;
    padding: 40px;
}

header h1 {
    font-size: 1.8em;
}

header p {
    font-size: 1.2em;
}

section {
    padding: 20px;
    margin: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

section h2 {
    color: #e53935; /* Rojo */
}

footer {
    text-align: center;
    background-color: #222;
    color: white;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* Estilos para pantallas más grandes */
@media (min-width: 768px) {
    header {
        padding: 50px;
    }

    header h1 {
        font-size: 2.5em;
    }

    section {
        padding: 25px;
    }

    footer {
        font-size: 1.2em;
    }
}

/* Estilos para pantallas aún más grandes (desktops) */
@media (min-width: 1024px) {
    header h1 {
        font-size: 3em;
    }

    section {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    footer {
        font-size: 1.4em;
    }
}

